{% extends "install_layout.twig" %}

{% block content %}
<div class="span12 center">
	<img src="{{img_path}}creamture_logo.png" width="400" />
</div>
<div class="row">
	<div class="offset2 span8">
		<p class="lead resume center">{% trans "The modern framework for building big web applications, built-in over the latest practices and standards HTML5, CSS3 and JavaScript patterns" %}</p>
		<div class="offset1 span9 features">
			<h5>It includes all this features:</h5>
			<ul class="unstyled">
				<li>
					<i class="icon-ok"></i> CodeIgniter Reactor
					<p>Based in the latest community CodeIgniter version.</p>
				</li>
				<li>
					<i class="icon-ok"></i> REST Server
					<p>Build the better REST API for your application, used with JS Backbone applications.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Twig template library
					<p>Flexible, fast and secure template engine for PHP. One of the more advanced template engine of the hand of Symfony creators.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Sparks package management system
					<p>Install easily CI libraries and extensions, extend your framework rapidly with thousand of features.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Command Line CRUD &amp; functions
					<p>Creamator is the CLI manager that you can extend easily with functions. Try now writing: <pre>./creamture creamator help.</pre></p>
				</li>
				<li>
					<i class="icon-ok"></i> HMVC Modules
					<p>Write your application with modules, refactorize your app!!</p>
				</li>
				<li>
					<i class="icon-ok"></i> Bitauth light user management
					<p>Construct your application with support of users, roles, groups and permissions.</p>
				</li>
				<li>
					<i class="icon-ok"></i> AJAX library
					<p>Deploy fast AJAX responses with the AJAX sparks in JSON or XML format with Cross-Domain AJAX support.</p>
				</li>
				<li>
					<i class="icon-ok"></i> PHP Error improvement visualization
					<p>PHP Error Library improves the error visualization also in the AJAX calls.</p>
				</li>
				<li>
					<i class="icon-ok"></i> SimpleTester Unit Testing
					<p>Write your unit testing for your code.</p>
				</li>
				<li>
					<i class="icon-ok"></i> CI PHP Language Editor
					<p>An online Language Editor for CI, edit easily your language files with automatic Google translation for help us.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Automatic environment configuration
					<p>Set the environment based in the operating system or the computer name. No more changes by hand, prepare your code for all the environments and run automatically with the correct routine.</p>
				</li>
				<li>
					<i class="icon-ok"></i> GetText i18n Support with Command Line generation
					<p>Generation of PO files and support within Twig templates. Command line creamator commands for PO generation.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Assets management with LESS, CoffeeScript, CSS and JS Minify
					<p>Supported in Twig and CI standard views. You can write your CSS in LESS syntax, use variables, and unify files. Write in CoffeScript and generate new compilation cache when your source files has been changed.</p>
				</li>
				<li>
					<i class="icon-ok"></i> HTML5 Boilerplate
					<p>Prepared for HTML5, with robots.txt, Flash crossdomain file, humans.txt,...</p>
				</li>
				<li>
					<i class="icon-ok"></i> Twitter Boostrap CSS Framework
					<p>Frontend framework for easy web development.</p>
				</li>
				<li>
					<i class="icon-ok"></i> jQuery
					<p>The JS DOM manipulation library by default.</p>
				</li>
				<li>
					<i class="icon-ok"></i> PlUpload
					<p>Upload files with size limit, automatically trip the file using Flash, HTML5, and compatible with old browsers.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Channels.js
					<p>Write JavaScript modules communicating all the components within iframes, windows or in the same page. Go multi-desktop web apps!!</p>
				</li>
				<li>
					<i class="icon-ok"></i> Modernizr.js
					<p>HTML5 compatibility for old browsers.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Require.js
					<p>AMD Support for your JavaScript Applications.</p>
				</li>
				<li>
					<i class="icon-ok"></i> Backbone &amp; Underscore js library
					<p>Build true JavaScript Web Applications with REST backend.</p>
				</li>
			</ul>
		</span>
	</div>
</div>
{% endblock %}