{% extends "layout/setup_layout.twig" %}

{% block innercontent %}
<div class="">
	<h2>{% trans "Creamture server configuration" %}</h2>
	<p><a href="?type=apache" class="btn">{% trans "Apache configurator" %}</a> {% trans "If you have running an Apache server configure click in apache server configuration" %}.</p>
	<p><a class="btn" href="?type=nginx">{% trans "NGINX configurator" %}</a> {% trans "If you have running a NGINX server click in the next button" %}.</p>
</div>
{% endblock %}