{% extends "install_layout.twig" %}

{% block content %}
<div class="span2 bs-docs-sidebar">
	<ul class="nav nav-pills nav-stacked bs-docs-sidenav inverse">
		<li><a href="#overview"><i class="icon-chevron-right"></i> Overview</a></li>
		<li><a href="#overview"><i class="icon-chevron-right"></i> Phpinfo</a></li>
		<li class="divider"></li>
		<li class="nav-header">Server configuration</li>
		<li><a href="#transitions"><i class="icon-chevron-right"></i> Apache .htaccess</a></li>
		<li><a href="#transitions"><i class="icon-chevron-right"></i> Nginx</a></li>
	</ul>
</div>
<div class="span9"></div>
{% endblock %}