{% extends "layout/install_layout.twig" %}

{% block content %}
<div class="span2">
	menu TODO
</div>
<div class="span10">
	<div class="inner-content">
		{% block innercontent %}
		    TODO
		{% endblock %}
	</div>
</div>
{% endblock %}